header.header
	.container
		.wrapper
			.header__modal__title
				h1 Recipe book
			.header__button.general__button
				button Add recipe
	.modal__title
		.container
			.wrapper
				.modal__title__text
					h2 Add new recipe
				.general__button.recipe__modal__close
					button Close