$scrollWidth: 8px;
::-webkit-scrollbar {
  width: $scrollWidth;
}

::-webkit-scrollbar-track {
  background: $color-white;
}

::-webkit-scrollbar-thumb {
  background: $color-purple
}
body {
  font-family: 'HKGrotesk', Sans-Serif;
  background-size: cover;
  background-image: url(../img/picture_two.jpg);
  background-repeat: no-repeat;
  &.modal_active{
    overflow: hidden;
    .header .wrapper,
    .page_wrapper{
      padding-right: $scrollWidth;
    }
    .recipe__add{
      right: 8px;
    }
  }
}

h1 {
  font-weight: bold;
  font-size: $fontSizeBig;
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: $fontSizeMedium;
}

p {
  line-height: 1.4;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
  color: $color-white;
  margin-top: 75px;
}

.container {
  max-width: 1600px;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}



.general__button {
  button {
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 30px;
    overflow: hidden;
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;
    transition: font .4s ease-in-out, color .4s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;
      background-color: $color-white;
      transition: all .4s ease-in-out;
    }

    &:hover {
      color: $color-purple;

      &:before {
        right: 0;
      }
    }
  }
}

.title{
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  min-width: 320px;
  padding: 15px 0 15px 15px;
  background-color: $color-white;
  border-bottom: 2px solid $color-purple;
  &:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100vw;
    height: 100%;
    width: 100vw;
    background-color: $color-white;
  }
  .title__text{
    h2{
      color: $color-black;
      font-weight: bold;
    }
  }
  .general__button{
    button{
      color: $color-purple;
      border-color: $color-purple;
      &:hover{
        color: $color-white;
      }
      &:before{
        background-color: $color-purple;
      }
    }
  }
}
