$scrollWidth: 8px;
::-webkit-scrollbar {
  width: $scrollWidth;
}

::-webkit-scrollbar-track {
  background: $color-white;
}

::-webkit-scrollbar-thumb {
  background: $color-purple
}
body {
  font-family: 'HKGrotesk', Sans-Serif;
  background-size: cover;
  background-image: url(../img/picture_two.jpg);
  background-repeat: no-repeat;
  &.modal_active{
    overflow: hidden;
    .header .wrapper,
    .page_wrapper{
      //padding-right: $scrollWidth;
    }
    .recipe__add{
      right: 8px;
    }
    .modal__title{
      transform: translateY(0);
    }
    .recipe__modal {
      opacity: 1;
      visibility: visible;

      .form {
        transform: translateX(0);
      }
    }
  }
}

h1, h2, h3{
  font-weight: bold;
}
h1 {
  font-size: $fontSizeBig;
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: $fontSizeMedium;
}

h3 {
  font-size: $fontSizePreMedium;
}

p {
  line-height: 1.4;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
  color: $color-white;
  flex: 1 1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}



.general__button {
  button {
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: $fontSizeSmall;
    cursor: pointer;
    padding: 10px 30px;
    overflow: hidden;
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;
    transition: font .4s ease-in-out, color .4s ease-in-out;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;
      background-color: $color-white;
      transition: all .4s ease-in-out;
    }

    &:hover {
      color: $color-purple;

      &:before {
        right: 0;
      }
    }
  }
}

