doctype html
head
	include includes/head
body
	.page_wrapper
		include includes/header
		main.main
			.container
				.recipe__list
					mixin recipeItem(name, counter)
						.recipe__list__item(class= counter)
							.recipe__list__item__wrapper
								.recipe__list__item__title
									.recipe__list__item__title__text
										h2= name
									.recipe__list__item__title__buttons
										.recipe__list__item__title__buttons__edit
											p Edit
										.recipe__list__item__title__buttons__remove
											p Remove
								.recipe__list__item__content
									h2= name
									ul
										li text
										li text
										li text
					+recipeItem('Recipe one', 'one')
					+recipeItem('Recipe two', 'two')
					+recipeItem('Recipe three', 'three')
					+recipeItem('Recipe four', 'four')
					+recipeItem('Recipe five', 'five')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
					+recipeItem('Recipe six', 'six')
		include includes/footer