doctype html
head
	include includes/head
body
	.page_wrapper
		include includes/header
		main.main
			.container
				.recipe__list
					mixin recipeItem(name, id)
						.recipe__list__item.pne
							.recipe__list__item__inner
								.recipe__list__item__bg
								.recipe__list__item__wrapper
									.recipe__list__item__title
										.recipe__list__item__title__text
											h2= name
										.recipe__list__item__title__buttons
											.recipe__list__item__title__buttons__edit
												button Edit
											.recipe__list__item__title__buttons__remove
												button Remove
									.recipe__list__item__content
										h2= name
										ul
											li text
											li text
											li text
			.recipe__modal.recipe__add
				.container
					.recipe__modal__wrapper
						form.form
							.form__content
								.form__content__img
									img(src="img/empty.jpg" alt="Recipe Img")
								.form__content__description
									.form__content__title
										h2
									.form__content__description
										p
									.form__content__ingredients__title
										h3 Ingredients
									.form__content__ingredients
										ul
							.form__wrapper
								.form__input__img
									label
										span Choose an image
										img(src="img/empty.jpg" alt="Choose image")
										input#img-recipe-add(type="file" name="image")
								.form__inputs
									.form__input
										input#name-recipe-add(type="text" name="name")
										label(for="name-recipe-add") Name
									.form__input
										textarea#description-recipe-add(name="description")
										label(for="description-recipe-add") Description
									.ingredients
										.form__input
											input#ingredient-add(type="text" name="ingredients")
											label(for="ingredient-add") Add new ingredient
											button.ingredient__button.ingredient-add Add
								.general__button.recipe__add__button
									button(type="submit") Add
		include includes/footer
	script(src="js/Recipe.js")
	script(src="js/index.js")