@import "mixins";
/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/fonts-aleno/hk_ grotesk/HKGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/fonts-aleno/hk_ grotesk/HKGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Austin Cyr";
  src: url("../fonts/fonts-aleno/austin/AustinCyr-Roman-2.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
