//Vars:

// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$fontSizeBig             : calc(20px + 1.25vw);
$fontSizeMedium          : calc(20px + .75vw);
$fontSizePreMedium       : calc(20px + .26vw);
$fontSizeSmall           : calc(16px + .1vw);

$desktopWidth            : 1200px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//Margins
$margin-small            : calc(15px + .26vw);

//Colors
$color-black             : rgba(0, 0, 0, 1);
$color-white             : rgba(255, 255, 255, 1);
$color-green             : rgba(15, 147, 15, 1);
$color-red               : rgba(188, 0, 0, 1);
$color-purple            : rgba(98, 72, 124, 1);
$color-purple-light      : rgb(210, 208, 63);
$color-purple-trans      : rgba(98, 72, 124, .5);
